In [ ]:
#1. Gathering and Reading Data using Feather

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
!pip install pyarrow

Requirement already satisfied: pyarrow in c:\users\addak\anaconda3\lib\site-packages (14.0.2)
Requirement already satisfied: numpy>=1.16.6 in c:\users\addak\anaconda3\lib\site-packages (from pyarrow) (1.26.4)

In [5]:
all_data = pd.read_feather(r"C:\Users\addak\0. Udemy\UCourse_Real-World Data Projects 1\E-Commerce_Sales-Data-Analysis/Sales_data.ftr")

In [7]:
all_data.head(6)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,None,None,None,None,None,None
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001"

In [ ]:
'''

Observation: The data contains hundreds of thousands of electronics store purchases broken down by month, product type, cost ,
purchase address, etc

'''

In [ ]:
#Next, Data Cleaning Process

In [9]:
all_data.isnull().sum() ## checking out total missing values we have

Order ID            545
Product             545
Quantity Ordered    545
Price Each          545
Order Date          545
Purchase Address    545
dtype: int64